/hrm_basic_parent/hrm_basic_util/target
/hrm_sysmanage_parent/hrm_sysmanage_service/target
/hrm_sysmanage_parent/hrm_sysmanage_interface/target
/hrm_support_parent/hrm_zuul_9527/target
/hrm_support_parent/hrm_eureka_7001/target
/hrm_mybatisplus_gen/target
/hrm_support_parent/hrm_config_server_8848/target
/hrm_basic_parent/hrm_basic_es_service_9004/target
/hrm_basic_parent/hrm_basic_es_interface/target
/hrm_course_parent/hrm_course_service_9002/target
/hrm_basic_parent/hrm_basic_fastdfs_service_9003/target
/hrm_basic_parent/hrm_basic_fastdfs_interface/target
/hrm_course_parent/hrm_course_interface/target
