<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.hrm.mapper.PageConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.itsource.hrm.domain.PageConfig">
        <id column="id" property="id" />
        <result column="template_url" property="templateUrl" />
        <result column="data_key" property="dataKey" />
        <result column="physicalPath" property="physicalPath" />
        <result column="dfs_type" property="dfsType" />
        <result column="page_url" property="pageUrl" />
        <result column="page_id" property="pageId" />
    </resultMap>

</mapper>
